<%= link_to 'New User', new_user_path , class: "btn btn-lg btn-warning align-right" %>
<h1 class="page-header"> Collaborators <small> Listing</small> </h1>

<%= link_to "Archived Users",  archives_users_path %>

<%= render "table", active: true %>